<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS Calculator App</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="CalculatorApp">
    <div ng-controller="CalculatorController">
      <div id="calculatorContainer">
        <div id="displayWindow">
          <span id="expression">{{expression}}</span>
        </div>

        <div id="grid">
          <div>
            <button class="button">
              <span>(</span>
            </button>
            <button class="button" ng-click="clear()">
              <span>)</span>
            </button>
            <button class="button" ng-click="appendToOutput('%')">%</button>
            <button class="button" ng-click="clear()">CE</button>
          </div>
          <div>
            <button class="button" ng-click="appendToOutput(1)">1</button>
            <button class="button" ng-click="appendToOutput(2)">2</button>
            <button class="button" ng-click="appendToOutput(3)">3</button>
            <button id="div-icon" class="button" ng-click="appendToOutput('/')">
              /
            </button>
          </div>
          <div>
            <button class="button" ng-click="appendToOutput(4)">4</button>
            <button class="button" ng-click="appendToOutput(5)">5</button>
            <button class="button" ng-click="appendToOutput(6)">6</button>
            <button
              id="mult-icon"
              class="button"
              ng-click="appendToOutput('*')"
            >
              *
            </button>
          </div>
          <div>
            <button class="button" ng-click="appendToOutput(7)">7</button>
            <button class="button" ng-click="appendToOutput(8)">8</button>
            <button class="button" ng-click="appendToOutput(9)">9</button>

            <button class="button" ng-click="appendToOutput('-')">-</button>
          </div>
          <div>
            <button class="button" ng-click="appendToOutput(0)">0</button>
            <button class="button" ng-click="appendToOutput('.')">.</button>
            <button class="button" ng-click="calculate()">=</button>
            <button class="button" ng-click="appendToOutput('+')">+</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
